#footer {
    background-image: linear-gradient(($amarillo, $naranja));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    h3{
        background-color: rgba(13, 13, 13, 0.771);
        color: $amarillo;
        &:hover{
            background-color: red;
        }
    }
}