@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@100..900&family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@100..900&family=Rubik+Burned&family=Sigmar&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

img {
   width: 100%;
   height: 100%;
}